.git
.gitignore
.gcloudignore
.sandcastle
.venv
.idea
node_modules
emoji-generator
scripts
assets
data/__pycache__
model/__pycache__
api/__pycache__
*.log
*.md
feedback.json
google-cloud-sdk
google-cloud-cli-darwin-arm.tar.gz
emoji_embeddings_v2.pt
package.json
package-lock.json
cloudbuild.yaml
